  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">O'Fig</h1>
        
        <h5>Catégories</h5>
        <div class="list-group">
          <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Gentil">
              Les gentils
            <span class="badge badge-primary badge-pill"><%=categories[1].count%></span>
          </a>
          <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Méchant">
              Les méchants
            <span class="badge badge-primary badge-pill"><%=categories[2].count%></span>
          </a>
          <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Animal">
              Les animaux
            <span class="badge badge-primary badge-pill"><%=categories[0].count%></span>
          </a>
        </div>

      </div>